<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">頁面文案調整</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        頁面文案 | <%= link_to "<button type='button' class='btn btn-edit'>edit</button>".html_safe, edit_link_wording_path(1)%>
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
      	<div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>位置</th>
                <th>文案</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>產品內容頁</td>
                <td><%= @wording.product_wording %></td>
              </tr>
              <tr>
                <td>2</td>
                <td>新聞頁</td>
                <td><%= @wording.review_wording %></td>
              </tr>
              <tr>
                <td>3</td>
                <td>品牌頁</td>
                <td><%= @wording.brand_wording %></td>
              </tr>
            </tbody>
          </table>
      	</div>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>